/* General styles for the admin login page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-groupadmin {
    margin-bottom: 15px;
    text-align: left;
}

.form-groupadmin label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-groupadmin input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    color: #777;
}

#changePasswordForm button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate from the login button */
    float: right;
}

#changePasswordForm button:hover {
    background-color: #a72323;
}
